:root {
  /* *************************************************************************/
  /* Stylekit variables                                                       /
  /* *************************************************************************/
  
  /* Color definitions */
  --white: #eeeeee;
  --dark-grey: #444444;
  --dark-red: #af0000;
  --green: #008700;
  --light-green: #5f8700;
  --light-blue: #0087af;
  --grey: #878787;
  --dark-blue: #005f87;
  --grey: #bcbcbc;
  --red: #d70000;
  --pink: #d70087;
  --purple: #8700af;
  --orange: #d75f00;
  --blue: #005faf;
  
  /* Info */
  --sn-stylekit-info-color: var(--dark-blue);
  --sn-stylekit-info-contrast-color: var(--white);

  --sn-stylekit-neutral-color: var(--light-blue);
  --sn-stylekit-neutral-contrast-color: var(--white);

  --sn-stylekit-success-color: var(--green);
  --sn-stylekit-success-contrast-color: var(--white);

  --sn-stylekit-warning-color: var(--orange);
  --sn-stylekit-warning-contrast-color: var(--white);

  --sn-stylekit-danger-color: var(--dark-red);
  --sn-stylekit-danger-contrast-color: var(--white);

  /* Backgrounds */
  --sn-stylekit-background-color: var(--white);
  --sn-stylekit-foreground-color: var(--dark-grey);
  --sn-stylekit-contrast-background-color: var(--grey);
  --sn-stylekit-contrast-foreground-color: var(--dark-grey);

  /* Borders */
  --sn-stylekit-border-color: var(--dark-grey);
  --sn-stylekit-contrast-border-color: var(--blue);
  --sn-stylekit-secondary-border-color: var(--dark-grey);
  --sn-stylekit-secondary-contrast-border-color: var(--purple);
  
  /* Paragraph */
  --sn-stylekit-paragraph-text-color: var(--dark-grey);

  /* Shadow */
  --sn-stylekit-shadow-color: var(--grey);

  /* Editor */
  --sn-stylekit-editor-background-color: #f2f2f2;
  --sn-stylekit-editor-foreground-color: var(--dark-grey);

  /* Scrollbar */
  --sn-stylekit-scrollbar-track-border-color: var(--grey);
  --sn-stylekit-scrollbar-thumb-color: var(--light-blue);  
}

/* **************************************************************************/
/* Addional customizations                                                   /
/* **************************************************************************/

/* Notes column */
.notes {
  color: var(--dark-grey);
}
.note.ng-scope.selected {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* Tags column */
#tags-column {
  background-color:#d9d9d9;
}

/* title bar */
#desktop-title-bar {
  background-color: var(--dark-grey) !important;
}
#desktop-title-bar button {
  color: var(--white);
}

/* background for append editor */
#content {
  background-color: #d9d9d9;
}

/* **************************************************************************/
/* Code Mirror Syntax Highlighting                                           /
/* **************************************************************************/
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: "Cascadia Code", monospace !important;
  font-size: 16px !important;
  color: var(--dark-grey) !important;
}

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid var(--pink) !important;
  background-color: var(--light-blue) !important;
  color: var(--white) !important;
}

.CodeMirror-linenumber {
  color: var(--white) !important;
}

.CodeMirror-guttermarker { color: var(--dark-grey) !important; }
.CodeMirror-guttermarker-subtle { color: var(--grey) !important; }

/* DEFAULT THEME */

.CodeMirror .cm-quote {color: var( --light-green) !important;}
.CodeMirror .cm-negative {color: var(--red) !important;}
.CodeMirror .cm-header {color: var(--blue) !important;}
.CodeMirror .cm-positive {color: var(--green) !important;}
.CodeMirror .cm-header, .CodeMirror .cm-strong {font-weight: bold !important;}
.CodeMirror .cm-em {font-style: italic !important;}
.CodeMirror .cm-link {text-decoration: underline !important;}
.CodeMirror .cm-strikethrough {text-decoration: line-through !important;}

.CodeMirror .cm-keyword {color: var(--purple) !important;}
.CodeMirror .cm-atom {color: var(--dark-blue) !important;}
.CodeMirror .cm-number {color: var(--orange) !important;}
.CodeMirror .cm-def {color: var(--pink) !important;}
.CodeMirror .cm-variable {color: var(--dark-grey) !important;}
.CodeMirror .cm-punctuation {color: var(--light-blue) !important;}
.CodeMirror .cm-operator {color: var(--light-blue) !important;}
.CodeMirror .cm-variable-2 {color: var(--dark-grey) !important;}
.CodeMirror .cm-variable-3,  .cm-type {color: var(--red) !important;}
.CodeMirror .cm-comment {color: var(--green) !important;}
.CodeMirror .cm-string {color: var(--light-green) !important;}
.CodeMirror .cm-string-2 {color: var(--light-green) !important;}
.CodeMirror .cm-meta {color: var(--pink) !important;}
.CodeMirror .cm-qualifier {color: var(--light-blue) !important;}
.CodeMirror .cm-builtin {color: var(--purple) !important;}
.CodeMirror .cm-bracket {color: var(--dark-grey) !important;}
.CodeMirror .cm-tag {color: var(--purple) !important;}
.CodeMirror .cm-attribute {color:var(--dark-grey) !important;}
.CodeMirror .cm-hr {color: var(--dark-grey) !important;}
.CodeMirror .cm-link {color: var(--light-blue) !important;}
.CodeMirror .cm-error {color: var(--dark-red) !important;}
.CodeMirror .cm-invalidchar {color: var(--red) !important;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: var(--dark-blue) !important;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: var(--dark-red) !important;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #d9d9d9 !important;}
