:root {
  /* *************************************************************************/
  /* Stylekit variables                                                       /
  /* *************************************************************************/
  
  /* Color definitions */
  --white: #eeeeee;
  --dark-grey: #444444;
  --dark-red: #af0000;
  --green: #008700;
  --light-green: #5f8700;
  --light-blue: #0087af;
  --grey: #878787;
  --dark-blue: #005f87;
  --grey: #bcbcbc;
  --red: #d70000;
  --pink: #d70087;
  --purple: #8700af;
  --orange: #d75f00;
  --blue: #005faf;
  
  /* Info */
  --sn-stylekit-info-color: var(--dark-blue);
  --sn-stylekit-info-contrast-color: var(--white);

  --sn-stylekit-neutral-color: var(--light-blue);
  --sn-stylekit-neutral-contrast-color: var(--white);

  --sn-stylekit-success-color: var(--green);
  --sn-stylekit-success-contrast-color: var(--white);

  --sn-stylekit-warning-color: var(--orange);
  --sn-stylekit-warning-contrast-color: var(--white);

  --sn-stylekit-danger-color: var(--dark-red);
  --sn-stylekit-danger-contrast-color: var(--white);

  /* Backgrounds */
  --sn-stylekit-background-color: var(--white);
  --sn-stylekit-foreground-color: var(--dark-grey);
  --sn-stylekit-contrast-background-color: var(--grey);
  --sn-stylekit-contrast-foreground-color: var(--dark-grey);

  /* Borders */
  --sn-stylekit-border-color: var(--dark-grey);
  --sn-stylekit-contrast-border-color: var(--blue);
  --sn-stylekit-secondary-border-color: var(--dark-grey);
  --sn-stylekit-secondary-contrast-border-color: var(--purple);
  
  /* Paragraph */
  --sn-stylekit-paragraph-text-color: var(--dark-grey);

  /* Shadow */
  --sn-stylekit-shadow-color: var(--grey);

  /* Editor */
  --sn-stylekit-editor-background-color: #f2f2f2;
  --sn-stylekit-editor-foreground-color: var(--dark-grey);

  /* Scrollbar */
  --sn-stylekit-scrollbar-track-border-color: var(--grey);
  --sn-stylekit-scrollbar-thumb-color: var(--light-blue);  
}

/* **************************************************************************/
/* Addional customizations                                                   /
/* **************************************************************************/

/* Notes column */
.notes {
  color: var(--dark-grey);
}
.note.ng-scope.selected {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* Tags column */
#tags-column {
  background-color:#d9d9d9;
}

/* Title Bar */
#desktop-title-bar {
  background-color: var(--dark-grey) !important;
}
#desktop-title-bar button {
  color: var(--white);
}

/* Background for the Append Editor */
#content {
  background-color: #d9d9d9;
}
